
.project
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/javaCompile/javaCompile.lock
.gradle/4.10.3/javaCompile/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/vcs.xml
.idea/workspace.xml
build/resources/main/Paths/dolev.csv
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/javaCompile/javaCompile.lock
.gradle/4.10.3/javaCompile/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/vcs.xml
.idea/workspace.xml
build/resources/main/Paths/dolev.csv
build/resources/main/Paths/PathName.csv
src/main/resources/Paths/dolev.csv
src/main/resources/Paths/PathName.csv
build/resources/main/Paths/PathName.csv
src/main/resources/Paths/PathName.csv
